<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Grocery App</title>
  </head>
  <body>
    <h1>Inventory app</h1>
    <% if (error) { %>
      <h2>There is an Error in getting categories</h2>
    <% } else { %>
      <% if (data.length <= 0) { %>
        <h2>There are no categories, please create one</h2>
      <% } else { %>
        <ul>
          <% for (const category of data) { %>
            <li><a href="<%= category.url %>"><%= category.name %></a></li>
          <% } %>
        </ul>
      <% } %>
    <% } %>
    
    <hr>
    <ul class="list-group">
      <li class="list-group-item"><a href="/catalog/items" style="display: block;">All items we have</a></li>
      <li class="list-group-item"><a href="/catalog/category/create" style="display: block;">Create a category</a></li>
      <li class="list-group-item"><a href="/catalog/item/create" style="display: block;">Create an Item</a></li>
    </ul>
      <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
